@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display-Medium";
  src: url("/fonts/SF-Pro-Display-Medium.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SF-Pro-Display-Bold";
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #1b1b1b;
  --window-bg: #ffffff;
  --window-bar: #f6f6f6;
  --send-bubble: #2d92ff;
  --receive-bubble: #e9e9eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ffffff;
    --window-bg: #1e1e1e;
    --window-bar: #383838;
    --send-bubble: #2d92ff;
    --receive-bubble: #3b3b3d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
