@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1b1b1b;
  --window-bg: #ffffff;
  --window-bar: #f6f6f6;
  --send-bubble: #2d92ff;
  --receive-bubble: #e9e9eb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ffffff;
    --window-bg: #1e1e1e;
    --window-bar: #383838;
    --send-bubble: #2d92ff;
    --receive-bubble: #3b3b3d;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
